<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hash System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href=" {{url_for('static', filename = 'images/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap/css/bootstrap.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'icon/themify-icons/themify-icons.css')}}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'icon/icofont/css/icofont.css')}}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/jquery.mCustomScrollbar.css')}}">
</head>

<body>
{% block body%}
{% endblock %}
    <!-- offset area end -->
    <!-- jquery latest version -->
    <script type="text/javascript" src="{{url_for('static', filename = 'js/jquery/jquery.min.js')}}"></script>
    
    <script type="text/javascript" src="{{url_for('static', filename = 'js/jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/jquery-ui/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/popper.js/popper.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap/js/bootstrap.min.js')}}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{{url_for('static', filename = 'js/jquery-slimscroll/jquery.slimscroll.js')}}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{{url_for('static', filename = 'js/modernizr/modernizr.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/modernizr/css-scrollbars.js')}}"></script>
    <!-- classie js -->
    <script type="text/javascript" src="{{url_for('static', filename = 'js/classie/classie.js')}}"></script>
    <!-- Accordion js -->
    <script type="text/javascript" src="{{url_for('static', filename = 'pages/accordion/accordion.js')}}"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="{{url_for('static', filename = 'js/script.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/pcoded.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/demo-12.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    
</body>

</html>
